.body {
display: flex;
flex-direction: column;
flex: 2;
overflow-y: auto;
}

.main {
display: flex;
flex-direction: row;
flex: auto;
flex: 1;
overflow-y: auto;
}

nav {
background-color: aqua;
}

li {
    text-align: right;
    text-decoration-color: chocolate;
    text-decoration-style: dashed;
    
}

h1{
text-decoration-line: underline;
}

p{
text-decoration: italic;
}
footer{
    background-color: aqua;
    text-align: right;
}


